body{
    width: 100%;
    height: 945px;
    margin: 0;
    padding: 0;
    background-color: black;
}

/*las 3 secciones principales de la pagina login*/
header{
    width: 100%;
    height: 10%;
    background-color:rgb(86, 83, 146);
}
main{
    width: 100%;
    height: 80%;
    background-image: url(../multimedia/imagenes/fondo_login.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -140px;
}
footer{
    width: 100%;
    height: 10%;
    background-color:rgb(86, 83, 146);
}

/** estilo del header -------------------------------------------------------*/
header img{
    width: 94.500px;
    height: 100%;
    box-shadow: 2px -2px 5px rgb(145, 139, 243);
    display: block;
}
header h1{
    width: 300px;
    height: auto;
    position: relative;
    font-size: 52px;
    left: 120px;
    bottom: 118px;
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    text-shadow: 2px 2px 5px rgb(145, 139, 243);
}

/** estilo main-------------------------------------------------------------------*/
#contenido{
    width: 80%;
    height: 90%;
    background-color:rgba(86, 83, 146, 0.5);
    position: relative;
    top: 5%;
    left: 10%;
}

/** estilo contenerdor button-group*/
#contenido div{
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 40px;
    font-family: serif;
}
#button-group{
    height: 10%;
    background-color:rgba(86, 83, 146, 1);
    display: flex;
    justify-content:start;
}
.custom-btn{
    padding: 0px 10px;
    margin-top: 10px;
    margin-left: 15px;
    height: 50px;
    border: none;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: black;
    letter-spacing: 2px;
    border-radius: 30px;
    box-shadow: 6px 6px 8px 0 rgb(145, 139, 243), -6px -6px 7.5px 0 rgb(145, 139, 243), inset 0 0 0 0 transparent;
    transition: box-shadow 200ms, transform 300ms cubic-bezier(.2,2,1,1);
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 30px;
}
.custom-btn:hover{
    color: #434245;
    cursor: pointer;
}
.custom-btn:active{
    box-shadow: 0 0 0 transparent, 0 0 0 transparent, inset 8px 8px 12px 0px rgba(198, 186, 207, .9), inset -8px -8px 12px 0px rgb(145, 139, 243);
    transform: scale(.9);
}

/** estilo contenedor content*/
#content{
    height: 90%;
    position: relative;
    bottom: 20px;
}

img{
    width: 10px;
    height: 10px;
}