nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
}
ul li{
    display: inline-block;
    padding: 0 20px;
}
a{
    color: blue;
    text-decoration: none;
}