body{
    width: 100%;
    height: 875px;
    background-color: yellow;
    margin: 0;
}
header{
    width: 100%;
    height: 20%;
    background-color: rgba(14, 14, 207, 0.76);
    display: flex;
}
img{
    width: 150px;
    height: 150px;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 0.7%;
    box-shadow: 2px 2px 5px rgb(145, 139, 243);
    border-radius: 10%;
}
h1{
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 70px;
    margin: 30px 100PX 0 0;
    text-shadow: 2px 2px 5px rgb(145, 139, 243);
}
main{
    width: 100%;
    height: 76.6%;
    background-image: url(../multimedia/imagenes/fondo_login.webp);
    background-repeat: none;
    background-size: 100%;
}
.container {
    width: 300px;
    border-radius: 5%;
    position:relative;
    left: 5%;
    top: 10%;
    text-align: center;
    width: 40%;
    height: 80%;
    background-color: rgb(64, 64, 145, 0.9);
    padding-top: 1.3%;
}

.button-group {
    width: 100%;
    margin-bottom: 20px;
}

.button-group button {
    width: 49.5%;
    height: 40px;
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(64, 64, 145, 0.9);
    box-shadow: 0px 5px 5px rgb(145, 139, 243);
    text-shadow: 2px 2px 5px rgb(145, 139, 243);
    /* border: 0px; */
}

.content-item {
    display: none;
}

.content-item.active {
    display: block;
}
form{
    
    
}
#informacion_login{
    width: 40%;
    height: 80%;
    bottom: 73%;
    background-color: red;
    display:block;
    position:relative;
    left: 55%;
    border-radius: 5%;
    background-color: rgb(64, 64, 145, 0.9);
}
footer{
    width: 100%;
    height: 11.4%;
    background-color: rgba(14, 14, 207, 0.76);
}